html {
    scroll-behavior:smooth
}

body,html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.image-content {
    display: block;
    height: 100vh;
    scroll-margin-top: 20px;
    background-size: cover;
}
.image-content img {
    display: block;
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 10ox;
}
.menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: salmon;
}
.menu-btn span,.menu-btn span::before,.menu-btn span::after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: white;
    position: absolute;
}
.menu-btn span::before {
    bottom: 8px;
}
.menu-btn span::after {
    top: 8px;
}
#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);
}
#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}

#menu-btn-check {
    display: none;
}
.ham-image {
    width: 30%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 80;
    background-color: skyblue;
    transition: all 0.5s;
}
#menu-btn-check:checked ~ .ham-image {
    left: 70%;
}

.ham-image ul {
    padding: 70px 0 0;
    list-style: none;
}

.ham-image ul li {
    border-bottom: solid 1px beige;
}

a {
    text-decoration: none;
}
